OS_AUTH_URL=https://auth.cloud.ovh.net/v3
OS_USERNAME=REPLACE_ME
OS_PASSWORD=REPLACE_ME
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
OS_TENANT_ID=REPLACE_ME
OS_TENANT_NAME=REPLACE_ME
OMNI_ENDPOINT=https://omni.example.com
OMNI_SERVICE_ACCOUNT_KEY=REPLACE_ME
